
body{
    background: radial-gradient(maroon, blue, purple);
}
.container{
    max-width: 99%;
    margin:auto;
    font-weight: bold;
}
h1{  
    text-align: center;
    margin-bottom: 0px;
}
h2{
    font-size: 120%;
    text-align: center;
}
.content-area{
}

.content1{
    margin: auto;
    width: 60%;
    height: 100vh;
    border: 3px solid black;
}
/* entire container, keeps perspective */

.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */

	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front{
    
}


.flip-container, .back{
    width: 100%;
    height: 100vh;
    font-size: calc(.5vw + .5vh + .95vmin);
    background-color: aliceblue;
    padding: 0px 5px 0px 5px; 
    box-sizing: border-box;
}
.flip-container, .front, .back{
    
}

#opcover{
    max-width: 99%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 99vh; 
    border-top: 10px solid aliceblue;
    border-radius: 5px;
    box-sizing: border-box;
        
}
    


/* flip speed goes here */

.flipper {
	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back
*/

.front {
	z-index: 2;
	/* for firefox 31 */
    
	transform: rotateY(0deg);
}
/* back, initially hidden pane 
*/

.back {
	transform: rotateY(180deg);
}


p{
    text-indent: 10px;
}
h3{
    text-align: center;
}
/*Title*/
.opuspic{
    position: relative;
    
}

.title{
    width: 100%;
    position: absolute;
    top: 0;
    font-family: cursive;
    color: crimson;
    text-shadow: 2px 3px blue;
}
.subtitle{
    width: 100%;
    position: absolute;
    top: 10%;
    font-family: fantasy;
    color: crimson;
    text-shadow: -2px -2px gold;
}
.turn{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 110%;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px red;
}

h4{
    font-family: cursive; 
    text-align: center;
}
h5{
    text-align: center;
}
.wrap1{
}
.content2{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 15px;
    background-color: aliceblue;
    padding: 6px 10px 20px 10px;
    border-right: 2px solid black;
    border-radius: 5px;
    font-size: calc(.45vw + .5vh + 1vmin);
    outline-offset: 5px;
    box-sizing: border-box;
    
}
.content3{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 15px;
    border-left: 2px solid black;
    box-sizing: border-box;
}
.flip-container1 {
	perspective: 1000px;
}

.flip-container1:hover .flipper1, .flip-container1.hover .flipper1 {
		transform: rotateY(180deg);
	}
.flip-container1, .front1{
    
}


.flip-container1, .back1{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    font-size: calc(.45vw + .5vh + 1vmin);
    box-sizing: border-box;
    
    
}
.flip-container1, .front1, .back1{
    
        
}


/* flip speed goes here */

.flipper1 {
	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */

.front1, .back1 {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back
*/

.front1 {
	z-index: 2;
	/* for firefox 31 */
    
	transform: rotateY(0deg);
}
/* back, initially hidden pane 
*/

.back1 {
	transform: rotateY(180deg);
}
#opcat{
    max-width: 99%;
    height: 99vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    box-sizing: border-box;
   
}
.turn1{
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
    font-size:110%;
    font-weight: bold;
    text-shadow: 2px 2px 0px #fff;
    
}
.wrap2{

}
.content4{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 15px;
    border-right: 2px solid black;
    box-sizing: border-box;
}
.flip-container2 {
	perspective: 1000px;
}

.flip-container2:hover .flipper2, .flip-container2.hover.flipper2 {
		transform: rotateY(180deg);
	}
.flip-container2, .front2{
    
}


.flip-container2, .back2{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    padding: 0px 5px;
    border-radius: 5px;
    line-height: 105%;
    font-size: calc(.45vw + .5vh + 1vmin);
    box-sizing: border-box;
        
}
.flip-container2, .front2, .back2{
    
}


/* flip speed goes here */

.flipper2 {
	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */

.front2, .back2 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back
*/

.front2 {
	z-index: 2;
	/* for firefox 31 */
    
	transform: rotateY(0deg);
}
/* back, initially hidden pane 
*/

.back2 {
	transform: rotateY(180deg);
}
#opjoe{
    max-width: 99%;
    height: 99vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    box-sizing: border-box;
        
}
#text{
    text-indent: 20px;
}
.content5{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 15px;
    background-color: aliceblue;
    padding: 0px 10px 14px 10px;
    border-left: 2px solid black;
    border-radius: 5px;
    font-size: calc(.45vw + .5vh + 1vmin);
    box-sizing: border-box;
    
}
#scratch{
    width: 100%;
    height: 380px;
    
}
.wrap3{

}

.content6{
    float: left;
    width: 50%;
    height: 100vh;
    background-color: aliceblue;
    margin-top: 15px;
    padding: 0px 10px 0px 10px;
    border-right: 2px solid black;
    border-radius: 5px;
    font-size: calc(.4vw + .5vh + 1vmin);
    box-sizing: border-box;
}
.isa{
    float: right;
    width: 150px;
    height: 200px; 
}
.content7{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 15px;
    background-color: aliceblue;
    border-left: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.flip-container3 {
	perspective: 1000px;
}

.flip-container3:hover .flipper3, .flip-container3.hover.flipper3 {
		transform: rotateY(180deg);
	}
.flip-container3, .front3{
    
}


.flip-container3, .back3{
    background-color: aliceblue;
    height: 100vh;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: calc(.5vw + .5vh + 1vmin);
    box-sizing: border-box;
        
}
.flip-container3, .front3, .back3{
   
}


/* flip speed goes here */

.flipper3 {
	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */

.front3, .back3 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back
*/

.front3 {
	z-index: 2;
	/* for firefox 31 */
    
	transform: rotateY(0deg);
}
/* back, initially hidden pane 
*/

.back3 {
	transform: rotateY(180deg);
}
#luigi{
    max-width: 99%;
    height: 99vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    box-sizing: border-box;
}
.wrap4{
    
}
.content8{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 10px;
    background-color: aliceblue;
    border-right: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
.flip-container4 {
	perspective: 1000px;
}

.flip-container4:hover .flipper4, .flip-container4.hover.flipper4 {
		transform: rotateY(180deg);
	}
.flip-container4, .front4{
}


.flip-container4, .back4{
    background-color: aliceblue;
    height: 100vh;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: calc(.5vw + .5vh + 1vmin);
        
}
.flip-container4, .front4, .back4{
}


/* flip speed goes here */

.flipper4 {
	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */

.front4, .back4 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back
*/

.front4 {
	z-index: 2;
	/* for firefox 31 */
    
	transform: rotateY(0deg);
}
/* back, initially hidden pane 
*/

.back4 {
	transform: rotateY(180deg);
}
#jump{
    max-width: 100%;
    height: 99vh; 
    padding-top: 10px;
    box-sizing: border-box;
}
.content9{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 10px;
    padding: 0px 10px;
    background-color: aliceblue;
    border-left: 2px solid black;
    border-radius: 5px;
    font-size: calc(.5vw + .5vh + 1vmin);
    box-sizing: border-box;
}
#moonbeam{
    width: 100%;
    height: 310px;
}
.wrap5{
    
}
.content10{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 10px;
    background-color: aliceblue;
    font-size: calc(.5vw + .4vh + 1vmin);
    border-right: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
.flip-container5 {
	perspective: 1000px;
}

.flip-container5:hover .flipper5, .flip-container5.hover.flipper5 {
		transform: rotateY(180deg);
	}
.flip-container5, .front5{
}


.flip-container5, .back5{
    height: 100vh;
    background-color: aliceblue;
    padding: 0px 10px;
    border-radius: 5px;
        
}
.flip-container5, .front5, .back5{
    
}


/* flip speed goes here */

.flipper5 {
	transition: 1.6s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */

.front5, .back5 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back
*/

.front5 {
	z-index: 2;
	/* for firefox 31 */
    
	transform: rotateY(0deg);
}
/* back, initially hidden pane 
*/

.back5 {
	transform: rotateY(180deg);
}
#bear{
    max-width: 100%;
    height: 99vh; 
    padding-top: 10px;
    box-sizing: border-box;
}

.content11{
    float: left;
    width: 50%;
    height: 100vh;
    margin-top: 10px;
    padding: 0px 10px;
    background-color: aliceblue;
    font-size: calc(.4vw + .4vh + 1vmin);
    border-left: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.opsleep{
}
#dogsleep{
    max-width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 10px solid aliceblue;
    border-radius: 5px;
}
@media screen and (max-width: 800px){
    .content2,
    .content3,
    .content4,
    .content5,
    .content6,
    .content7,
    .content8,
    .content9,
    .content10,
    .content11{
        width: auto;
        float: none;}
}
@media screen and (max-width:800px){
    .flip-container, .back,
    #opcover,
    .content1,
    .content2,
    .content3,
    .flip-container1, .back1,
    #opcat,
    .content4,
    .flip-container2, .back2,
    #opjoe,
    .content5,
    .content6,
    .content7,
    .flip-container3, .back3,
    #luigi,
    .content8,
    .flip-container4, .back4,
    #jump,
    .content9,
    .content10,
    .flip-container5, .back5,
    #bear{
        width: auto;
        font-size: calc(1vw + 1vh + .3vmin);
    }
    .content11{
        width: auto;
        font-size: calc(.94vw + .94vh + .4vmin);        
    }

}
    

.group:after {
  content: "";
  display: table;
  clear: both;
}

